/** RESET CSS **/
/* @import "normalize.css" ou reset */
@import "../css/reset.css";

 /* #16a8d7; */


header
{
	background-color: #FFF;
}

#header
{
	width:100%;
	max-width: 980px;
	padding: 10px 0 5px;
	margin: auto;
	overflow: hidden;
	height: 130px;
}

#header{
/*	border: 1px solid black;*/
	margin-bottom: 35px;
}

#header #logo{
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 150px;
	height: 90px;
	float: left;
}

#header .connexion {
	clear: right;
	float: right;
	text-align: center;
	position: relative;
	top: 30px;
	margin-bottom: 10px;
	width: 95px;
	padding:  4px 0;
	background-color: #16a8d7;
	border: 1px solid #16a8d7;
	border-radius: 3px;
	color: #fff;
	text-decoration: none;
	overflow: hidden;
}

#header .connexion:hover {
	background-color: #fff;
	color: #16a8d7;
	border: 1px solid #16a8d7;
}

#header .connexion:before {
	content: "{ ";
	position: relative;
	left: -25px;
	top: -1px;
    transition: all 0.3s ease-in; 

}

#header .connexion:after {
	content: " }";
	position: relative;
	right: -25px;
	top: -1px;
    transition: all 0.3s ease-in; 

}

#header .connexion:hover:before {
	content: "{ ";
	position: relative;
	left: 0px;

}

#header .connexion:hover:after {
	content: " }";
	position: relative;
	right: 0px;

}

#header #search{
	clear: right;
	margin: auto;
	width: 30%;
	position: relative;
	top: -35px;
	left: 30px;
}

#header form{
	text-align: center;
}

#searchbar{
	width: 100%;
	margin: auto;

}

#header form input[type="text"]{
	text-align: center;
	height: 25px;
	opacity: .5;
	width: 30%;
	padding:  4px 0;
	border: none;
	font-size: 15px;
	color: #16a8d7;
    transition: all 0.5s ease-in; 
}

#header form input[type="text"]:focus,
#header form input[type="text"]:hover{
	outline:  none;
	width: 75%;
	opacity: 1;
}

#header #searchbar:before,
#header #searchbar:after{
	color: #16a8d7;
	font-size: 35px;
	position: relative;
	top:5px;
}

#header #searchbar:before{
	content: "{";
}

#header #searchbar:after{
	content: "}";
}

#search_submit{
	display: none;
}

#searchbar #recherche:hover + #search_submit,
#searchbar #recherche:focus + #search_submit{
	width: 30px;
	height: 30px;
	display: inline-block;
}

#searchbar #recherche:hover + #search_submit #search_btn,
#searchbar #recherche:focus + #search_submit #search_btn{
	opacity: 1;
	width: 30px;
	height: 30px;
	background-color: transparent;
	border: none;
	background-image: url(../img/avatar_200.png);
	background-repeat: no-repeat;
	background-size: 30px 30px;
	cursor: pointer;
	outline:  none;
	position: relative;
	top: 8px;
}





/***************************************************
********************** MAIN ************************
***************************************************/

#main_container .container{
	width: 100%;
	max-width: 980px;
	margin: auto;
	overflow: hidden;
}


#main_container input,
#main_container textarea{
	border: none;
	background-color: transparent;
	padding: 0;
	width: 115%;
	margin: 0;
	color: #16a8d7;
	background-color: #FFF;
	font-family: verdana;
}

#main_container input[type="file"]
{
	width: 80%;
	padding-left: 0;
	background-color: #16a8d7;
}

#main_container  #fiche .left #avatar {
	float: left;
	margin-top: -95px;
	padding-bottom: 7px;
	width: 95px;
	height: 110px;
}


#main_container  #fiche .left #pseudo_profil,
#main_container  #fiche .left #score,
#main_container  #fiche .left #work,
#main_container  #fiche .left #locate {
	float: left;
	margin-left: 105px;
}

#main_container .pseudo_in
{
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	width: 90%;
}


#main_container input
{
	padding-left: 5px;
}

#main_container textarea{
	resize: none;
	width: 104%;
	height: 166px;
	padding: 3px;
	margin: -15px -10px;
}

#main_container textarea::-webkit-scrollbar {
    width: 1em;
}
 
#main_container textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}


#main_container textarea::-webkit-scrollbar-thumb {
  background-color: #16a8d7;
  outline: 1px solid #FFF;
}

#main_container .link_in
{
	color: #16a8d7;
	width: 100%;
	font: 400 1em arial;
}

#main_container .container #fiche{
	box-sizing: border-box;
	width: 100%;
	/*border: 1px solid blue;*/
	overflow: hidden;
	margin-bottom: 25px;
	background-color: #16a8d7;
	border-radius: 0 0 10px 10px;
	padding: 10px;
}

#main_container .container #fiche .left{
	margin-bottom: 0px;
	float: left;
}

#main_container .container .left{
	width: 47%;
	float: left;
	margin-bottom: 25px;
}

#main_container .container .left:nth-child(2n){
	float: right;
}

#main_container .container #fiche .right{
	margin-bottom: 0px;
}

#main_container .container .right{
	width: 47%;
	float: left;
	margin-bottom: 25px;
}

#main_container .container .right:nth-child(2n){
	float: right;
}

#main_container .container .right .password{
	text-transform: inherit;
	font-weight: 400;
	font-size: 15px;
	margin-top: 10px;
	padding: 2px;
	width: 60%;
}

#main_container .container .right .passes {
	float: right;
	text-align: right;
	width: 100%;
}

#main_container .container .right .passes .pass {
	color: #FFF;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 15px;
}


#profil_info,
#profil_img{info
	height: 200px;
	overflow: hidden;
	position: relative;
}


#profil_info{
	border: 1px solid #fff;
	border-radius: 0 0 10px 10px;
	overflow: hidden;
}

#profil_info header{
	background-color: #FFF;
	padding: 5px 5px;
	text-align: center;
	color: #16a8d7;	
	text-transform: uppercase;
	font-weight: 700;
	font-size: 18px;
}

#profil_info div{
	color: #fff;
	padding: 15px 10px 5px;
	text-transform: inherit;
	font-weight: 400;
	font-size: 15px;
	line-height: 1.2em;
	letter-spacing: 0.05em;
}

#main_container .container #profil_img img{
	float: left;
	width: 100px;
	height: 100px;
	border-radius: 10px;
	border: 3px solid #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.4);
	overflow: hidden;
	margin-bottom: 15px;

}

#main_container .container #profil_img div {
	float: left;
	width: calc(100% - 170px);
	padding-left: 10px;
	margin-bottom: 5px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 25px;
}

#main_container .container #profil_img #status{
	position: absolute;
	top: 0;
	right: -48%;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 15px;
}

#main_container .container #profil_img #status span{
	position: relative;
	top: 2px;
	opacity: 1;
}

#main_container .container #profil_img #status .out{
	opacity: 0.3;
	font-size: 12px;

}

#main_container .container #profil_img #location {
	margin-top: 10px;
}

#main_container .container #profil_img .infos_small {
	text-transform: inherit;
	font-weight: 400;
	font-size: 15px;
}


#main_container .container #profil_img #score:before{
	content: "";
	width: 20px;
	height: 20px;
	float: left;
	position: relative;
	top: 2px;
	margin-right: 5px;
	background-image: url(../img/picto_w.png);
	background-repeat: no-repeat;
	background-size: 20px 20px;
}

#main_container .container #profil_img .url_links {
	margin-top: 15px;
	width: 100%;
	padding-left: 0;
}

#main_container .container #profil_img .urls{
	margin-top: 10px;
	clear: both;
	text-transform: inherit;
	font-weight: 400;
	font-size: 18px;
	overflow: hidden;
	width: 97%;
}

#main_container .container #profil_img .urls:last-child{
	margin-top: 5px;
}

#main_container .container #profil_img .urls .link{
	width: 95px;
	display: inline-block;
	text-align: right;
	position: relative;
	top: -7px;
}

#main_container .container #profil_img .urls .link_url{
	padding: 3px 5px;
	margin-left: 5px;
	background-color: #fff;
	color: #16a8d7;
	font-weight: 400;
	width: calc(100% - 115px);
	display: inline-block;
	overflow: hidden;

}







#main_container .container .header_section{
	background-color: #fff;
	color: #16a8d7;
	padding: 10px 10px 10px 0;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 15px;
	border-bottom: 1px solid #16a8d7;
}

#main_container .container .nombre{
	background-color: #16a8d7;
	padding: 3px 5px 2px;
	color: #fff;
	margin-right: 10px;
	font-size: 15px;
	border-radius: 5px;
}


#main_container .container .main ul li{
	padding: 5px 8px;
}

#main_container .container .main ul li:nth-child(odd){
	background-color: rgba(22, 168, 215, 0.1);
}

#main_container .container .main ul li a{
	text-decoration: none;
	color: #555;
	transition-duration: .5s;
}

#main_container .container .main ul li a span{
	color: #16a8d7;
	width: 30px;
	display: inline-block;
}

#main_container .container .main ul li:hover a{
	padding-left: 10px;
}

#main_container .container .more {
	margin-top: 15px;
	padding-left: 10px;
}


#main_container .container .more a{
	color: #16a8d7;
	font-size: 13px;
	text-decoration: none;
	letter-spacing: .2em;
	font-weight: 700;
	transition-duration: .5s;

}

#main_container .container .more a:hover{
	padding-left: 10px;
}

