/*p {
    margin: 0 3px;
    color: #aaa;
}

.box {
    width: 502px;
    margin: 0 auto;
    position: relative;
}

.box > h1 {
    font-size: 20px;
    color: rgba(124, 128, 130, 0.5);
    text-shadow: 0 1px rgba(255,255,255,.67);
}
*/